$helper-color: rgb(52 60 64);

$phone-width: 320px;
$phone-button: 362px;
$tablet-width: 640px;
$desktop-width: 1280px;
$basic-font-color: rgb(179 192 178);
$highlight-font-color: rgb(85 229 72);
$basic-tr-delay: 550ms;

@mixin phones {
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) {
		@content;
	}
}

@mixin tablets {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
		@content;
	}
}

@mixin desktops {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

.parallax {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 10vh;
	background-size: cover;
	background-attachment: fixed;
	margin: 10rem auto;
	margin-top: 0;
	transition: opacity 0.5s ease-in;
	overflow: hidden;
	opacity: 0;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100vw;
		height: 10vh;
		top: 0;
		left: 0;
		z-index: 0;
	}

	&::before {
		backdrop-filter: blur(10px);
		transition: all 0.5s linear;
	}

	&::after {
		backdrop-filter: grayscale(100%);
	}
}

.section-name {
	z-index: 2;
	color: lightgrey;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2rem;
	text-indent: 2rem;
	user-select: none;
	transition: color 1s linear;

	@include phones {
		font-size: 1.1rem;
	}

	@include tablets {
		font-size: 1.2rem;
	}

	@include desktops {
		font-size: 3rem;
	}
}

.skills,
.projects,
.contact {
	&.show {
		height: max-content;

		.contact-wrapper {
			form {
				translate: 0;
				opacity: 1;
				filter: none;
				transition-delay: $basic-tr-delay;
			}

			.contact-text {
				filter: none;
				translate: 0;
				opacity: 1;
				transition-delay: $basic-tr-delay;
			}
		}

		.grid-wrapper {
			.project-card {
				filter: none;

				&:nth-child(3n + 1) {
					opacity: 1;
					translate: 0;
					transition-delay: $basic-tr-delay;
				}

				&:nth-child(3n-1) {
					translate: 0;
					opacity: 1;
					transition-delay: ($basic-tr-delay * 2) + 200ms;
				}

				&:nth-child(3n) {
					translate: 0;
					opacity: 1;
					transition-delay: $basic-tr-delay;
				}
			}

			.skill {
				filter: none;

				&:nth-child(3n + 1) {
					opacity: 1;
					translate: 0;
					transition-delay: $basic-tr-delay;
				}

				&:nth-child(3n-1) {
					transition-delay: ($basic-tr-delay * 2) + 200ms;
					translate: 0;
					opacity: 1;
				}

				&:nth-child(3n) {
					transition-delay: ($basic-tr-delay * 3) + 400ms;
					translate: 0;
					opacity: 1;
				}
			}
		}

		.parallax {
			opacity: 1;

			&::before,
			&::after {
				backdrop-filter: none;
			}

			.section-name {
				color: $highlight-font-color;
			}
		}
	}
}

.helper {
	background-color: none;
	position: absolute;
	z-index: 1;

	&.arrow-top-left {
		top: 0;
		left: 0;
		border-bottom: 2.1rem solid transparent;
		border-left: 2.1rem solid $helper-color;
		border-top: 0 solid transparent;
	}

	&.arrow-bottom-left {
		bottom: 0;
		left: 0;
		border-top: 2.1rem solid transparent;
		border-left: 2.1rem solid $helper-color;
		border-bottom: 0 solid transparent;
	}

	&.arrow-top-right {
		top: 0;
		right: 0;
		border-bottom: 2.1rem solid transparent;
		border-right: 2.1rem solid $helper-color;
		border-top: 0 solid transparent;
	}

	&.arrow-bottom-right {
		bottom: 0;
		right: 0;
		border-top: 2.1rem solid transparent;
		border-right: 2.1rem solid $helper-color;
		border-bottom: 0 solid transparent;
	}
}
