$basic-font-color: rgb(179 192 178);
$highlight-font-color: rgb(85 229 72);
$bg-shadow-color: black;
$bg-color: rgb(107 124 132);

$phone-width: 320px;
$phone-button: 362px;
$tablet-width: 640px;
$desktop-width: 1280px;

@mixin phones {
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) {
		@content;
	}
}

@mixin tablets {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
		@content;
	}
}

@mixin desktops {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

.project-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap: 1rem;
	transition: all 0.5s ease-in;
	filter: blur(5px);

	@include phones {
		width: 0.5rem;
	}

	&:nth-child(3n + 1) {
		opacity: 0;
		translate: 0;
	}

	&:nth-child(3n-1) {
		opacity: 0;
	}

	&:nth-child(3n) {
		opacity: 0;
		translate: 400px;

		@include phones {
			translate: 0;
		}

		@include tablets {
			translate: 0;
		}
	}

	h4 {
		text-align: center;
		color: $basic-font-color;
		height: 2rem;
		margin-bottom: 1rem;
		transition: all 0.3s linear;
	}

	&:hover {
		h4 {
			color: $highlight-font-color;
		}
	}
}
