$phone-width: 320px;
$phone-button: 362px;
$tablet-width: 640px;
$desktop-width: 1280px;

@mixin phones {
    @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin tablets {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin desktops {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

.skill {
    position: relative;
    margin: 0 auto;
    transition: all 0.3s ease-in;
    opacity: 0;
    translate: -400px;
    filter: grayscale(100%) blur(5px);

    @include phones {
        width: 4rem;
        height: 4rem;
    }

    @include tablets {
        width: 6rem;
        height: 6rem;
    }

    @include desktops {
        width: 10rem;
        height: 10rem;
    }
}

