$phone-width: 320px;
$phone-button: 362px;
$tablet-width: 640px;
$desktop-width: 1280px;

$basic-font-color: rgb(179 192 178);
$highlight-font-color: rgb(85 229 72);
$bg-color: rgb(52 60 64);

$desk-font-size: 1.3rem;

$h1-fontSize: 3.5rem;

@mixin phones {
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) {
		@content;
	}
}

@mixin tablets {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
		@content;
	}
}

@mixin desktops {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

.text-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	opacity: 0;
	translate: -400px;
	filter: blur(5px);
	transition:
		translate 0.5s ease-in,
		opacity 0.6s ease-in,
		filter 0.8s linear;

	@include phones {
		max-width: 20rem;
		margin-left: 0;
	}

	@include tablets {
		max-width: 25rem;
	}

	@include desktops {
		max-width: 30rem;
	}

	h1 {
		font-size: $h1-fontSize;
		color: $basic-font-color;
		font-weight: 200;

		@include phones {
			font-size: $h1-fontSize * 0.6;
		}

		@include tablets {
			font-size: $h1-fontSize * 0.75;
		}

		span {
			color: transparent;
			font-size: $h1-fontSize * 1.7;
			-webkit-text-stroke: 1.5px $highlight-font-color;
		}
	}

	.sub-text {
		margin-top: 0.4rem;
		color: $basic-font-color;
		opacity: 0;
		translate: -400px;
		filter: blur(5px);
		transition:
			translate 0.4s ease-in,
			opacity 0.6s ease-in,
			filter 0.8s linear;
		transition-delay: 200ms;
	}
}

.introduction {
	&.show {
		.text-wrapper {
			translate: 0;
			opacity: 1;
			filter: none;

			.sub-text {
				translate: 0;
				opacity: 1;
				filter: none;
			}
		}
	}
}
