$bg-color: rgb(52, 60, 64);
$basic-font-color: rgb(179, 192, 178);
$highlight-font-color: rgb(85, 229, 72);

$margin-bot: 1rem; 

$phone-width: 320px;
$phone-button: 362px;
$tablet-width: 640px;
$desktop-width: 1280px;

@mixin phones {
    @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin phonesButton {
    @media (min-width: #{$phone-width}) and (max-width: #{$phone-button}) {
        @content;
    }
}

@mixin tablets {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin tabletContact {
    @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-contact-width-max}) {
        @content;
    }
}

@mixin desktops {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

* {
    color: $basic-font-color;
}

.modal-wrapper {
    .modal {
        position: fixed;
        top: 0;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(-50%, 0);

        opacity: 0;
        background-color: $bg-color;
        width: 30rem;

        z-index: 6;
        border: 2px solid black;

        transition: opacity 0.5s linear;
        overflow: hidden;

        @include phones {
            height: 100vh;
            min-width: $phone-width;
            max-width: $phone-width+80px;
        }

        @include tablets {
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            transform: translate(0%, 0%);
        }

        .gallery {
            opacity: 1;

            overflow: hidden;
            transition: opacity 0.1s linear;

            @include phones {
                max-width: 60%;
                max-height: 15rem;
            }

            @include tablets {
                max-height: 20rem;
                max-width: 60%;
            }

            @include desktops {
                height: 19rem;    
            }


                &.fadein {
                    opacity: 1;
                };

                &.fadeOut {
                    opacity: 0;
                }

            img {
                transition: none;
                max-width: 100%;
                max-height: 100%;

                &:hover {
                    scale: none;
                }
            }

        }

        p {
            margin-left: 2rem;
            @include phones {
                font-size: 1rem;
                width: $phone-width;
                align-self: flex-start;
            }
        }
        h2, h3 {
            margin: $margin-bot 0;
        }

        h3 {
            align-self: flex-start;
            margin-left: 2rem;
            font-size: 1.3rem;
        }

        &.shown {
            opacity: 1;
        }

        &.fadeout {
            opacity: 0;
        }
    }

    &::after {
        content:"";
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        opacity: 1;
        backdrop-filter: blur(10px);
        width: 100vw;
        height: 100vh;
        transition: opacity 0.5s linear;
    }

    .btn-wrapper {
        button {

            width: 3rem;
            height: 3rem;
            
            &.btn-next, &.btn-prev {
                background: none;
                border: none;
                transition: all 0.3s linear;

                &:hover {
                    fill: $highlight-font-color;
                }
            };
        }
    }

    .closeModal {
        z-index:7;
        border: none;
        transition: all 0.3s linear;
        margin: $margin-bot;

        @include phones {
            align-self: center;
            
        }

        font-family:var(--font-title);
        font-size: 1.2rem;

        &:hover {
            color:rgb(85, 229, 72);
        }
    }
}