$phone-width: 320px;
$phone-button: 362px;
$tablet-width: 640px;
$desktop-width: 1280px;

$p-phone-width: 5rem;
$p-tablet-width: 10rem; 
$p-width: 13rem; 

$orbit-width: 1rem;

$highlight-font-color: rgb(85, 229, 72);

@mixin phones {
    @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin tablets {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
        @content;
    }    
}

@mixin desktops {
    @media (min-width: #{$desktop-width}) {
        @content
    }
}

.orbit-wrapper {
    position: relative;
    width: $p-width;
    height: $p-width;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(75deg) rotateY(-25deg);
    transform-style: preserve-3d;

    @include phones {
        width: $p-phone-width;
        height: $p-phone-width;
    }

    @include tablets {
        width: $p-tablet-width;
        height: $p-tablet-width;
    }

    .satellite-orbit {
        position: absolute;
        width: inherit;
        height: inherit;
        transform-style: inherit;
        animation: rotation 5s infinite linear;

        @include phones {
            left: -2rem;
            width: $p-phone-width+4rem;
            height: $p-phone-width+4rem;;
        }

        @include desktops {
            left: 0;
        }
    
        .orbit {
            opacity: 0.7;
            position: absolute;
            width: $orbit-width;
            height: $orbit-width;
            border-radius: 50%;
            background-color: $highlight-font-color;
            animation: orbit-rotation 5s linear infinite;
        }
    }
}

@keyframes rotation {
    0% {
        rotate: 0deg;
        z-index: 1
    }
    50% {
        rotate: 180deg;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes orbit-rotation {
    0% {
        width: $orbit-width * 0.75;
        height: $orbit-width * 0.75;
        opacity: 0.01;
        transform: rotateZ(360deg) rotateY(25deg) rotateX(-75deg);

    }
    21% {
        width: $orbit-width * 0.5;
        height: $orbit-width * 0.5;
        opacity: 0;
        transform: rotateZ(285deg) rotateY(25deg) rotateX(-75deg);
    }

    60% {
        width: $orbit-width * 1.25;
        height: $orbit-width * 1.25;
        opacity: 1;
        transform: rotateZ(144deg) rotateY(25deg) rotateX(-75deg);
    }

    85% {
        width: $orbit-width * 0.75;
        height: $orbit-width * 0.75;
        opacity: 1;
        transform: rotateZ(36deg) rotateY(25deg) rotateX(-75deg);
    }

    97% {
        opacity: 0;
        transform: rotateZ(12deg) rotateY(25deg) rotateX(-75deg);
    }

    100% {
        width: $orbit-width * 0.75;
        height: $orbit-width * 0.75;
        opacity: 0;
        transform: rotateZ(0deg) rotateY(25deg) rotateX(-75deg);
    }
}