$bg-color: rgb(52 60 64);
$basic-font-color: rgb(179 192 178);
$highlight-font-color: rgb(85 229 72);
$bg-shadow-color: rgb(13 13 13);
$btn-bg-color: rgb(107 124 132);

$phone-width: 320px;
$phone-button: 362px;
$tablet-width: 640px;
$desktop-width: 1280px;

@mixin phones {
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) {
		@content;
	}
}

@mixin tablets {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
		@content;
	}
}

@mixin desktops {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html {
	min-width: 320px;

	@include phones {
		width: 100vw;
	}
}

html,
body {
	height: max-content;
}

body {
	@include phones {
		width: 100vw;
	}
}

a {
	cursor: pointer;
}

.app {
	position: relative;
	background-color: $bg-color;

	@include phones {
		width: 100vw;
	}

	&.modal-on {
		overflow: hidden;
	}
}

main {
	min-height: 25vh;
}

.grid-wrapper {
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	place-items: center center;
}

.section {
	position: relative;
	margin-bottom: 10rem;

	&::after {
		position: absolute;
		left: 50%;
		z-index: 2;
		color: $basic-font-color;
		transform: translate(-50%, -50%);

		@include phones {
			font-size: 1.1rem;
			top: 9%;
		}

		@include tablets {
			font-size: 1.2rem;
			top: 7%;
		}

		@include desktops {
			font-size: 1.5rem;
			top: 6%;
		}
	}
}

.btn {
	font-family: var(--font-text);
	font-weight: 400;
	font-size: 1.2rem;
	height: 5rem;
	width: 10rem;
	background-color: $btn-bg-color;
	outline: none;
	color: $basic-font-color;
	transform: skewX(-10deg);
	border: none;
	transition: 0.3s;
	box-shadow: 5px 5px $bg-shadow-color;

	@include phones {
		font-size: 1rem;
		height: 3rem;
		width: 5rem;
	}

	&:disabled {
		background-color: grey;
	}

	&:active {
		cursor: grabbing;
	}

	&:hover {
		transition: 0.5s;
		box-shadow: 10px 10px 0 $bg-shadow-color;
		color: $highlight-font-color;
		cursor: pointer;

		&:disabled {
			box-shadow: 5px 5px 0 $bg-shadow-color;
			color: inherit;
		}
	}
}
