* {
	--font-text: 'Audiowide', cursive;
	--font-title: 'Orbitron', sans-serif;

	box-sizing: border-box;
	scroll-behavior: smooth;
}

@font-face {
	font-family: Revamped;
	src:
		local('Revamped'),
		url('./assets//Fonts/Revamped-X3q1a.ttf') format('truetype');
}

body {
	margin: 0;
	font-family: var(--font-text);
}

h2,
h1 {
	font-family: var(--font-title);
}
