$phone-width: 320px;
$phone-button: 362px;
$tablet-width: 640px;
$desktop-width: 1280px;

$p-phone-width: 8rem;
$p-tablet-width: 10rem;
$p-width: 13rem;

@mixin phones {
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) {
		@content;
	}
}

@mixin tablets {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
		@content;
	}
}

@mixin desktops {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

.portrait {
	border-radius: 50%;
	opacity: 0;
	translate: 250px;
	filter: blur(5px);
	transition:
		translate 0.6s ease-in,
		opacity 0.8s ease-in,
		filter 1s linear;
	background-color: black;
	margin-top: 1rem;
	border: 2px solid black;

	.introduction {
		&.show {
			.portrait {
				opacity: 0.5;
				translate: 0;
				filter: none;
			}
		}
	}

	@include phones {
		translate: 40px;
		width: $p-phone-width;
		height: $p-phone-width;
	}

	@include tablets {
		translate: 0;
		width: $p-tablet-width;
		height: $p-tablet-width;
	}

	@include desktops() {
		width: $p-width;
		height: $p-width;
	}
}
